@model PositionModel
<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="post" asp-action="Edit" onsubmit=" return postQuery(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary text-white" onclick="getRequest('@Url.Action("Index", "Position", null, Context.Request.Scheme)')">Назад</a>
</div>