@model ProjectModel
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-controller="Project" asp-action="Create" onsubmit="return postQuery(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="@ViewBag.Clients"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-sm btn-primary text-white" onclick="getRequest('@Url.Action("Index", "Project", null, Context.Request.Scheme)')">Назад</a>
            </div>
        </form>
    </div>
</div>

