@{
    ViewData["Title"] = "Home Page";
}

<p>Функционал поиска реализован на всех уровнях, но не добавлен на Presentation layer. </p>

<p>Все дейстивия контролеров асинхроные и обращение осуществляется через ajax запросы.</p>